<!DOCTYPE html>
<html lang="en">

<div id="wrapper">

    <% include ../navigation.ejs%>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <a style="color: black; font-size: 20px;">&#9776; Add New Proxy</a>
                <br><br>
                <div id="response_text"></div>
                <form>
                    <div class="form-group">
                        <label for="name">External Name:</label>
                        <input required type="text" class="form-control" id="name">
                    </div>
                    <div class="form-group">
                        <label for="internal_name">Internal Name:</label>
                        <input required type="text" class="form-control" id="internal_name">
                    </div>
                    <div class="form-group">
                        <label for="data_center">Data Center:</label>
                        <input required type="text" class="form-control" id="data_center">
                    </div>
                    <div class="form-group">
                        <label for="host">Host:</label>
                        <input required type="text" class="form-control" id="host">
                    </div>
                    <div class="form-group">
                        <label for="port">Port:</label>
                        <input required type="text" class="form-control" id="port">
                    </div>
                    <div class="form-group">
                        <label for="method">Method:</label>
                        <input required type="text" class="form-control" id="method">
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input required type="text" class="form-control" id="password">
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>


        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Bootstrap core JavaScript -->
<script src="/lib/jquery.js"></script>
<script src="/dist/js/bootstrap.bundle.js"></script>
<script src="/js/proxies/add.js"></script>


</html>
