<!DOCTYPE html>
<html lang="en">

<div id="wrapper">

    <% include ../navigation.ejs%>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <a style="color: black; font-size: 20px;">&#9776; Add Package</a>
            <br><br>
            <div id="response_text"></div>
            <form>
                <div class="form-group">
                    <label for="name">Package Name:</label>
                    <input required type="text" class="form-control" id="name">
                </div>
                <div class="form-group">
                    <label for="name">Platform:</label>
                    <select required class="form-control" id="platform">
                        <option selected value="android">Android</option>
                        <option value="ios">iOS</option>
                        <option value="osx">Mac OSX</option>
                        <option value="windows">Windows</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>


        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Bootstrap core JavaScript -->
<script src="/lib/jquery.js"></script>
<script src="/dist/js/bootstrap.bundle.js"></script>
<script src="/js/package/add.js"></script>


</html>
