<!DOCTYPE html>
<html lang="en">

<div id="wrapper">

    <% include ../navigation.ejs%>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <a style="color: black; font-size: 20px;">&#9776; Update Package</a>
            <br><br>
            <div id="response_text"></div>

                <div class="form-group">
                    <label for="name">Package Name:</label>
                    <input required type="text" class="form-control" id="name">
                </div>
                <div class="form-group">
                    <label for="name">Platform:</label>
                    <select required class="form-control" id="platform">
                        <option selected value="android">Android</option>
                        <option value="ios">iOS</option>
                        <option value="osx">Mac OSX</option>
                        <option value="windows">Windows</option>
                    </select>
                </div>
            <input required type="hidden" class="form-control" id="_id">
            <button onclick="updateForm();" class="btn btn-success">Update</button>
            <button onclick="cancelUpdate();" class="btn btn-dark">Cancel</button>
            <button style="float: right;" onclick="deletePackage();" class="btn btn-danger">Delete</button>



        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Bootstrap core JavaScript -->
<script src="/lib/jquery.js"></script>
<script src="/dist/js/bootstrap.bundle.js"></script>
<script src="/js/package/update.js"></script>


</html>
