<!DOCTYPE html>
<html lang="en">

<div id="wrapper">

    <% include navigation.ejs%>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <a style="color: black; font-size: 20px;">&#9776; Dashboard</a>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Bootstrap core JavaScript -->
<script src="/lib/jquery.js"></script>
<script src="/dist/js/bootstrap.bundle.js"></script>


</html>
