<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Nexus</title>

    <!-- Bootstrap core CSS -->
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/simple-sidebar.css" rel="stylesheet">

</head>

<body>

<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#menu-toggle" id="menu-toggle">
                    Nexus
                </a>


            </li>
            <li>

                <a href="#manageProxies" id="manageProxies" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Manage Proxies</a>
                <ul class="collapse list-unstyled" id="manageProxiesUl">
                    <li>
                        <a href="/proxies/list">List</a>
                    </li>
                    <li>
                        <a href="/proxies/add">Add</a>
                    </li>

                </ul>
                <a href="#managePackage" id="managePackage" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Manage Packages</a>
                <ul class="collapse list-unstyled" id="managePackageUl">
                    <li>
                        <a href="/package/list">List</a>
                    </li>
                    <li>
                        <a href="/package/add">Add</a>
                    </li>


                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- /#wrapper -->

<!-- Bootstrap core JavaScript -->
<script src="/lib/jquery.js"></script>
<script src="/dist/js/bootstrap.bundle.js"></script>

<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    $("#menu-toggle").click();

    $('#managePackage').on('click', function () {

        var cls = '#managePackageUl';
        if($(cls).hasClass('show')){
            $(cls).removeClass('show');
        }else{
            $(cls).addClass('show');
        }
    });

    $('#manageProxies').on('click', function () {

        var cls = '#manageProxiesUl';
        if($(cls).hasClass('show')){
            $(cls).removeClass('show');
        }else{
            $(cls).addClass('show');
        }
    });

</script>

</body>

</html>
